body{
	font-family:"Arial", sans-serif;
	font-size:15px;
	background: #F2F2F2;
        color:black;
	margin:px;
	padding:0px;
}

main{
	max-width: 1024px;
        margin: auto;
        padding: 10px;
	background:#aaa;
}


footer{
	padding:10px 25px;
	background:#DDDDDD;
	text-align: center
}

.img {
	    text-align:left;
            padding: 10px;
            margin: auto;
            max-width: 100px;
            border-radius: 50%;
        }

header {
            text-align: center;
        }

.name {
            margin: auto;
            text-align: center;
       }
