*{box-sizing:border-box;}
body{
	font-family:"Arial", sans-serif;
	font-size:15px;
	background: #F2F2F2;
        color:black;
	margin:px;
	padding:0px;
}
.container{
	max-width:1024px;
	margin:0 auto;
	float:center;
	width:100%;
}


main{
	padding:20px;
	background:#aaa;
}
footer{
	padding:10px 25px;
	background:#DDDDDD;
	text-align: center
	color:black;
}

.avatar { 
	text-align:center;
	padding: 10px;
        display: block;
        margin: auto;
        max-width: 100px;
        border-radius: 50%;
}
.link{
	color:ellow;
}
